<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <style>
    .card .img-top {
        display: inline;
    }
    .card .img-bottom {
        display: none;
    }
    .card:hover .img-bottom {
        display: inline;
    }
    .card:hover .img-top{
        display: none;
    }
  </style>

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Stephen Qiu
              </h1>
              <p>I am a first-year Masters student pursueing a Masters in Robotics at the <a href="https://www.upenn.edu/" rel="external nofollow noopener" target="_blank">Univeristy of Pennsylvania</a>, affiliated with GRASP Labs.
              </p>
              <p>
                I am interested in robot control, robotic manipulators, and embedded systems. My focus includes control systems, robotics design, machine learning applications, and embedded systems programming.              </p>
              <p>
              </p>
              <p>
                I have an BS in Mechanical Engineering as well as a minor in Computer Science from <a href="https://www.utk.edu/" rel="external nofollow noopener" target="_blank">The Univeristy of Tennessee, Knoxville</a>, where I was a research assistant for Dr. Caleb Rucker as part of <a href="https://sites.google.com/view/reach-robotics-lab" rel="external nofollow noopener" target="_blank">REACH Robotics Lab</a> as well as a research assistant for Dr. Kwai Wong as a part of  <a href="https://nics.utk.edu/" rel="external nofollow noopener" target="_blank">NICS</a> 
              </p>
              <p style="text-align:center">
                <a href="mailto:sqiu4@seas.upenn.edu"> Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/sqiu88" rel="external nofollow noopener" target="_blank">GitHub (decently empty)</a> &nbsp;/&nbsp;
                <a href="./pdfs/CV_V2.pdf" rel="external nofollow noopener" target="_blank">Resume</a>
                <!-- <a href="https://scholar.google.com/citations?user=GCYG4GoAAAAJ">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/lkeselman"> LinkedIn </a> -->
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%", class="card">
              <img style="width:100%;max-width:100%" class = "img-top" alt="profile photo" src="images/placeholder.png">
              <img style="width:100%;max-width:100%" class = "img-bottom" alt="profile photo" src="images/profile_2.png">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}" rel="external nofollow noopener" target="_blank" >paper</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}">youtube</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Other Projects</h2>
              <p> These include coursework projects and other miscellaneous research projects. 
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat != 'research' and cat != 'Intel' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <em>{{post.categories}} {{post.course}}</em>
              <br>
              {% if post.startdate  %}
              {{ post.startdate | date: "%m/%Y" }} - {{ post.enddate | date: "%m/%Y"}}
              <br>
              {% endif %} 
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.patent %}
              <a href="{{post.patent}}">patent</a> /
              {% endif %}
              {% if post.patent2 %}
              <a href="{{post.patent2}}">patent #2</a> /
              {% endif %}
              {% if post.patent3 %}
              <a href="{{post.patent3}}">patent #3</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}" rel="external nofollow noopener" target="_blank" >video</a> /
              {% endif %}
              {% if post.video2 %}
              <a href="{{post.video2}}">video #2</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}" rel="external nofollow noopener" target="_blank">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}" rel="external nofollow noopener" target="_blank" >poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://leonidk.com/" rel="external nofollow noopener" target="_blank">here</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

